@model FluvioApp.Models.Project

@*Afisarea unui proiect*@

@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}

<br />

<div class="card">

    @Html.Partial("ProjectInfo", Model)

    @*afisez butoane daca Id-ul userului care a accesat proiectul e acelasi
        cu UserId
        De facut
    *@

    <div class="card-text assignments">

        @foreach (var assignment in @Model.Assignments)
        {
            <div class="assignment">

                <p>@assignment.Title</p>
                <p>@assignment.StartDate</p>

            </div>

            @*<a class="btn btn-success" href="/Projects/Show/@assignment.Id">Afisare Task</a>*@

        }

    </div>

    <div class="d-flex flex-row justify-content-between">

        <a class="btn btn-success" href="/Projects/Edit/@Model.Id">Editeaza proiectul</a>

        <form method="post" action="/Projects/Delete/@Model.Id">

            <button class="btn btn-danger" type="submit">Sterge proiectul</button>

        </form>

    </div>

</div>

@*Afisare taskuri impreuna cu butoane de editare si stergere*@

@foreach (var ass in Model.Assignments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <h3>@ass.Title</h3>

                    <p>@ass.Description</p>
                    <small>@ass.StartDate</small>
                    <small>@ass.User.UserName</small>@*Aici o sa pun si numele userului care o pus taskul*@

                </div>

                <br />

                <div class="d-flex">

                    <div>

                        <a class="btn btn-outline-primary" href="/Assignments/Edit/@ass.Id"><i class="bi bi-pencil-square"></i>Editeaza</a>
                    
                    </div>

                    <div>

                        <form method="post" action="/Assignments/Delete/@ass.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                        </form>

                    </div>

                    <div>

                        <a class="btn btn-outline-primary" href="/Assignments/Show/@ass.Id">Afiseaza Detalii Task</a>

                    </div>

                </div>
                

            </div>
        
            <div class="col-md-2"></div>

        </div>

    </div>

}

@*from unde sa adaug taskuri!!
Formularul in care se poate adauga un task*@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" action="/Projects/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ProjectId" value="@Model.Id" />

                        <label>Titlu task</label>
                        <br />

                        <textarea class="form-control" name="Title"></textarea>

                        @*
                          MAI ADAUGA O CHESTIE LA DROPDOWN DE "NU E INCEPUT"
                        *@

                        <label>Status task</label>
                        <br />

                        <select class="form-control" name="Status">
                            <option value="1">În desfășurare</option>
                            <option value="2">Finalizat</option>
                            <option value="3">Neinceput</option>
                        </select>

                        @Html.ValidationMessage("Status", null, new {@class="text-danger"})
                        <br />

                        <label>Continut task</label>
                        <br />

                        <textarea class="form-control" name="Description"></textarea>
                        <br /> <br />

                        <button class="btn btn-success " type="submit">Adauga taskul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>
