@model FluvioApp.Models.Assignment

@{
    ViewBag.Title = "Edit";
}

<h2>Editare task</h2>
<br />

@using (Html.BeginForm(controllerName: "Assignments", actionName: "Edit",
       method: FormMethod.Post, routeValues: new { id = Model.Id }))
{
    @Html.Label("Title", "Titlu task")
    <br />
    @Html.Editor("Title", new { @class = "form-control" })
    <br /
    >
    @Html.Label("Description", "Descriere task")
    <br />
    @Html.Editor("Description", new { @class = "form-control" })
    <br />

    <label>Status task</label>
    <br />
    <!-- Dropdown pentru status -->
    <select class="form-control" name="Status">
        @{
            var statusValues = new List<int> { 1, 2 }; // Adaugă toate valorile posibile pentru status
        }

        @foreach (var value in statusValues)
        {
            <option value="@value" selected="@(Model.Status == value)">
                @if (value == 1)
                {
                    <text>În desfășurare</text>
                }
                else if (value == 2)
                {
                    <text>Finalizat</text>
                }
                else if (value == 3)
                {
                    <text>Neinceput</text>
                }
            </option>
        }
    </select>
    @Html.ValidationMessage("Status", null, new { @class = "text-danger" })
    <br />


    <button class="btn btn-primary" type="submit">Editeaza taskul</button>
}

<!-- Comentarii -->
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong><i class="bi bi-person"></i>@comm.User.UserName</strong>

                </div>
                <br>

                @* @if (comm.UserId == ViewBag.UserCurent || ViewBag.EsteAdmin) 
                { *@
                    <div class="d-flex">
                        <div>
                            <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Editeaza</a
                        </div>
                        <div>
                            <form method="post" action="/Comments/Delete/@comm.Id">
                                <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>
                            </form>
                        </div>
                    </div>
                @*}*@
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}


<!-- Form Adaugare Comentarii -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div
        <div class="col-md-8
            <div class="card>
                <form method="post" action="/Assignment/Edit/@Model.Id">
                    <div class="card-body">
                        <input type="hidden" name="AssignmentId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
